.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 460px;
  height: 600px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

h1 {
  margin: 12px 0;
}

.add-element {
  margin: 12px 0;
}

.add-element input {
  padding: 6px 4px;
  width: 70%;
}

.add-element input:focus {
  outline: none;
  border-color: #1565c0;
}

.add-element button {
  padding: 7px 14px;
  background-color: #00b0ff;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  margin: 0 10px;
}

.add-element button:hover {
  background-color: #1565c0;
}

.element-list {
  height: 550px;
  overflow-y: auto;

}

.element-list ul {
  padding: 15px;
}

.element-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 5px;
  background-color: #fff;
  margin: 12px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  transition: .4s;
}

.element-list li:hover {
  background-color: #e0e0e0;
}

.element-list #input-text{
  flex: 1 1 0%;
  font-size: 1.125rem;
  margin: 0 10px;
  border: none;
  outline: none;
}

.element-list #removeButton {
  cursor: pointer;
  font-size: 1.125rem;
  color: #FF0000;
  background: none;
  border: none;
}

.element-list #editButton {
  cursor: pointer;
  font-size: 1.125rem;
  color: #35793B;
  background: none;
  border: none;
  margin: 0px 10px;
}


.isCompleted {
  text-decoration: line-through;
}